{erl_opts, [inline]}.
{edoc_opts, [{subpackages, false}, {preprocess, true}]}.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{port_env, [{"(linux|freebsd)", "CFLAGS", "$CFLAGS -O2"}]}.
{port_specs, [{"priv/lib/otpbp_atomics.so", ["c_src/otpbp_atomics.c"]}]}.
